<div class="text-xs-center">
        
    <h1> Parallèle(s)</h1>
    
    <h2>Storyboard</h2>
    <%= link_to "Go to first image", root_path %> /
    <%= link_to "Go to 1 image before split", "?ids=#{Frame.new("19").ids.first}" %>
    
    <div id="starting_frame" frame_paths="<%= @starting_frame.frame_paths %>"></div>
    <div id="canevas" class="m-t-1">
        
    </div>

</div>