// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";

.red {
    color: #d9534f;
}


.hoverable{
    opacity: 0;
}
.hoverable:hover {
    opacity: 0.5;
}